<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>

    <div class="title-container">
      <h1>Calendar</h1>
      <p>Week 10: <span>Finalizing</span></p>
    </div>
  </div>

  <p>This will be the clanedar page</p>

  <button onClick="showPicture()" class="btn btn-dark">Click me</button>

  
</body>

</html>