<html lang="en">

<head>
  <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>

    <div class="title-container">
      <h1>Day 62</h1>
      <p>Week 10: <span>Finalizing</span></p>
    </div>
  </div>

  <div id="loginBtn">
    <button onclick="handleSignIn()" class="mx-auto">Login</button>
  </div>

</body>

</html>