<nav class="nav nav-tabs">

    <li class="nav-item">
        <a class="nav-link" href="/">Home<a>
            </a></li>

    <li class="nav-item">
        <a class="nav-link" href="/calendar">Calendar<a>
            </a></li>

    <li class="nav-item">
        <a class="nav-link" href="/notes">Notes<a>
            </a></li>

    <li class="nav-item">
        <a class="nav-link" href="/tasks">Planning<a>
            </a></li>
</nav>